{% extends "./base.html" %}
{% block body %}
<table  class="onetable">
<tr class="colum">
<td>id</td>
<td>タイトル</td>
<td>詳細</td>
</tr>
{% for colum in columns %}
<tr>
{% for data in colum %}
<td>{{data}}</td>
{% endfor %}
<td><a href="/search/{{ colum.id }}/one">詳細</a></td>
</tr>
{% endfor %}
</table>

{% if contacts.has_previous %}
<a href="?page={{ contacts.previous_page_number }}">previous</a>
{% endif %}

    {% for num in contacts.paginator.page_range %} 
    {% if contacts.number == num %}
{{ num }}
{% else %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %} {% endfor %}

{% if contacts.has_next %}
<a href="?page={{ contacts.next_page_number }}">next</a>
{% endif %}
{% endblock %}