<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ landinfo.title }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'search:retrieval' landinfo.id %}" method="post">
        {% csrf_token %}
        {% for landinfo in landinfo.landinfo_set.all %}
            <input type="radio" name="landinfo" id="landinfo{{ forloop.counter}}" value="{{
                 landinfo.id }}" />
            <label for="landinfo{{ forloop.counter }}">{{ landinfo.title }}</label><br>
        {% endfor %}
        <input type="submit" value="Retrieval" />
    </form>
</body>
</html>