.onetable {
    overflow:auto;
    white-space: nowrap;
    overflow-x:scroll;
    table-layout: fixed;
}
.onetable th,
.onetable td {
    height:100px;
    width:100px;
    border: 1px solid #CCCCCC;
}

.colum {
    background-color: rgb(8, 240, 8);
    border:1;
}