.onetable {
    border-collapse: collapse;
    table-layout: fixed;
}
.onetable th,
.onetable td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
}
.onetable th {
        background-color: #FFFFFF;
}
    